.main
{
    background-color:rgb(56, 53, 53)   
    
}
.main .effect-rack
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}


.main .effect-rack .effect
{
    display: grid;
    
    
}